<ion-header>
  <ion-navbar color="themeColor3">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>RitMO</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="changeMode('month')">M</button>
      <button ion-button (click)="changeMode('week')">W</button>
      <button ion-button (click)="changeMode('day')">D</button>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="calendar-header">
    <ion-row>
      <ion-col col-2>
        <button ion-button item-left clear (click)="prevMonth()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <button class="calendar-month-title" ion-button block clear>{{ viewTitle }}</button>
      </ion-col>
      <ion-col col-2>
        <button ion-button item-right clear (click)="nextMonth()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" [monthviewEventDetailTemplate]="template" (onEventSelected)="onEventSelected($event)"  (onCurrentDateChanged)="onCurrentDateChanged($event)"  (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>

  <ion-fab bottom right >
    <button ion-fab class="fab-add-btn">
      <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToCreatePersonalEvent()">
        <ion-icon name="md-list"></ion-icon>
        <div class="label">Personal</div>
      </button>
      <button ion-fab (click)="goToCreateSharedEvent()">
        <ion-icon name="contacts"></ion-icon>
        <div class="label">Share</div>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <ion-item-sliding *ngFor="let event of selectedDate?.events" >
      <ion-item (click)="onEventSelected(event)" nopadding>
        <ion-card>
          <ion-card-header>
            <span class="event-detail">
              <h2> {{event.title}}</h2>
            </span>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
              <p>
                <span>{{event.startTime|date: 'fullDate'}}</span><br>
                {{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
              </p>
            </span>
            <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day </span>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editEvent(event)">
          <ion-icon name="paper"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="selectedDate?.events.length==0">
      <div class="no-events-label">{{noEventsLabel}}</div>
    </ion-item>
  </ion-list>
</ng-template> -->
<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <ion-card *ngFor="let event of selectedDate?.events" [ngStyle]="setStyle(event.colour)">
      <ion-item-sliding>
        <ion-item (click)="onEventSelected(event)" nopadding *ngIf="event?.colour != '#cc0099'">
            <span item-start class="event-title">{{event.title}}</span>
            <!-- <span item-end *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn"> -->
            <ion-row item-end *ngIf="!event.allDay">
                <ion-col>
                  <span class="event-date">{{event.startTime|date: 'M/d/yy'}}</span>
                  <span class="event-time">{{event.startTime|date: 'shortTime'}}</span> <br>
                  <span class="divider">|</span><br>
                  <span class="event-date">{{event.endTime|date: 'M/d/yy'}}</span>
                  <span class="event-time">{{event.endTime|date: 'shortTime'}}</span> <br>
                </ion-col>
            </ion-row>
            <!-- </span> -->
            <span *ngIf="event.allDay" class="event-allDay">All day</span>
            <ion-row item-end *ngIf="event.allDay">
              <ion-col>
                <span class="event-date">{{event.startTime|date: 'M/d/yy'}}</span><br>
                <span class="divider">|</span><br>
                <span class="event-date">{{event.endTime|date: 'M/d/yy'}}</span><br>
              </ion-col>
            </ion-row>
        </ion-item>
        <ion-item (click)="onEventSelected(event)" nopadding *ngIf="event?.colour == '#cc0099'">
            <span item-start class="event-unctg-title">{{event.title}}</span>
            <!-- <span item-end *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn"> -->
            <ion-row item-end *ngIf="!event.allDay">
                <ion-col>
                  <span class="event-unctg-date">{{event.startTime|date: 'M/d/yy'}}</span>
                  <span class="event-unctg-time">{{event.startTime|date: 'shortTime'}}</span> <br>
                  <span class="unctg-divider">|</span><br>
                  <span class="event-unctg-date">{{event.endTime|date: 'M/d/yy'}}</span>
                  <span class="event-unctg-time">{{event.endTime|date: 'shortTime'}}</span> <br>
                </ion-col>
            </ion-row>
            <!-- </span> -->
            <span *ngIf="event.allDay" class="event-unctg-allDay">All day</span>
            <ion-row item-end *ngIf="event.allDay">
              <ion-col>
                <span class="event-unctg-date">{{event.startTime|date: 'M/d/yy'}}</span><br>
                <span class="unctg-divider">|</span><br>
                <span class="event-unctg-date">{{event.endTime|date: 'M/d/yy'}}</span><br>
              </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editEvent(event)">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="deleteEvent(event)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-item *ngIf="selectedDate?.events.length==0">
      <div class="no-events-label">{{noEventsLabel}}</div>
    </ion-item>
  </ion-list>
</ng-template>
