page-home {
  ion-header {
    .toolbar-background {
      background: linear-gradient(to right, #9966ff 0%, #9999ff 100%);
      // background: #9999ff;
      color: white;
    }
    .toolbar-title {
      color: white;
    }
    .bar-button {
      color: white;
    }
  }

  .monthview-datetable {
    border: 2px white solid !important;
  }

  .monthview-selected {
    border-radius: 20px !important;
    background-color: #00ffcc !important;
    color: white !important;
    font-size: 25px;
  }

  td.monthview-current {
    color: #9999ff !important;
    font-weight: bold;
    font-size: 20px;
  }

  td.monthview-current.monthview-selected {
    border-radius: 20px !important;
    background-color: #9999ff !important;
    color: white !important;
    font-size: 25px;
  }

  .calendar-day {
    background-color: red !important;
  }

  td.monthview-primary-with-event.monthview-selected {
    border-radius: 20px !important;
    background-color: #9999ff !important;
    color: white !important;
    font-size: 25px;
  }

  td.monthview-primary-with-event {
    border-radius: 30px !important;
    background-color: #9999ff !important;
    color: white !important;
    font-style: bold;
  }

  th {
    border: 1.5px !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background-color: transparent !important;
  }

  td {
    border: 1px white !important;
    padding: 12px !important;
    // border-radius: 80px !important;
    background-color: white !important;
  }

  .calendar-month-title {
    font-weight: bold;
    font-style: black;
  }

  .event-title {
    font-size: 20px;
    font-weight: bold;
  }

  .event-time {
    font-size: 25px;
    font-family: verdana;
  }

  ion-fab-list button[ion-fab] {
          text-align: center;
          overflow: visible;

          div.label {
            position: absolute;
            right: 48px;
            background: rgba(248, 248, 248, 1);
            height: 24px;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 8px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
          }
  }

  .button-inner {
      overflow: visible;
  }

  .fab {
    contain: initial;
  }

}
