<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="changeMode('month')">M</button>
      <button ion-button (click)="changeMode('week')">W</button>
      <button ion-button (click)="changeMode('day')">D</button>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" [monthviewEventDetailTemplate]="template" (onEventSelected)="onEventSelected($event)"  (onCurrentDateChanged)="onCurrentDateChanged($event)"  (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>
</ion-content>

<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <ion-item-sliding *ngFor="let event of selectedDate?.events" >
      <ion-item (click)="onEventSelected(event)" nopadding>
        <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
          <p>
            <span>{{event.startTime|date: 'fullDate'}}</span><br>
            {{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
          </p>
        </span>
        <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day </span>
        <span class="event-detail" item-end>
          <h2> {{event.title}}</h2>
        </span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editEvent(event)">
          <ion-icon name="paper"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="selectedDate?.events.length==0">
      <div class="no-events-label">{{noEventsLabel}}</div>
    </ion-item>
  </ion-list>
</ng-template>
