// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menuProfileSec {
  text-align: center;
  button {
    margin-top: 20px;
  }

  .user-email {
    margin-top: 50px;
    color: grey;
  }

}

.home-icon {
  color: #9999ff;
}

.profile-icon {
  color: #9999ff;
}

.menuList {
  margin-top: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;

  ion-item {
  }
}
