<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="calm" transparent>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="header-title">Add Event</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
      <!-- <ion-item>
        <ion-label stacked>Event name</ion-label>
        <ion-input class="input" type="text" placeholder="What's your event's name?" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox item-end [(ngModel)]="event.allDay"></ion-checkbox><br>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime item-end *ngIf="!event.allDay" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"></ion-datetime>
        <ion-datetime item-end *ngIf="event.allDay" displayFormat="MM/DD/YYYY" pickerFormat="MMM D" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime item-end *ngIf="!event.allDay" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="event.startTime"></ion-datetime>
        <ion-datetime item-end *ngIf="event.allDay" displayFormat="MM/DD/YYYY" pickerFormat="MMM D" [(ngModel)]="event.endTime" [min]="event.startTime"></ion-datetime>
      </ion-item>

    <ion-item-group padding>
      <ion-label stacked>Reminder</ion-label>
      <ion-item *ngFor="let ntfc of notifications">
        <ion-label>{{ntfc.text}}</ion-label>
        <button ion-button item-end clear><ion-icon name="close" (click)="removeReminder(ntfc.text)"></ion-icon></button>
      </ion-item>
      <button ion-button clear item-end (click)="addReminder()">Add</button>
    </ion-item-group>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" placeholder="Says somemore about your event..." [(ngModel)]="event.description"></ion-input>
    </ion-item>

    <ion-footer>
      <button class="addButton" ion-footer ion-button strong full icon-left (click)="save()">
        <ion-icon name="checkmark"></ion-icon> Add Event
      </button>
    </ion-footer> -->
    <ion-item>
      <ion-label stacked>Event name</ion-label>
      <ion-input class="input" type="text" placeholder="What's your event's name?" [(ngModel)]="newEvent.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Event Colour</ion-label>
      <ion-icon item-end (click)="setColor()" ios="md-color-palette" md="md-color-palette" [style.color]="selectedColour"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox item-end [(ngModel)]="newEvent.allDay"></ion-checkbox><br>
    </ion-item>
    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime item-end *ngIf="!newEvent.allDay" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="newEvent.startTime"></ion-datetime>
      <ion-datetime item-end *ngIf="newEvent.allDay" displayFormat="MM/DD/YYYY" pickerFormat="MMM D" [(ngModel)]="newEvent.startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime item-end *ngIf="!newEvent.allDay" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="newEvent.endTime" [min]="newEvent.startTime"></ion-datetime>
      <ion-datetime item-end *ngIf="newEvent.allDay" displayFormat="MM/DD/YYYY" pickerFormat="MMM D" [(ngModel)]="newEvent.endTime" [min]="newEvent.startTime"></ion-datetime>
    </ion-item>

  <ion-item-group padding>
    <ion-label stacked>Reminder</ion-label>
    <ion-item *ngFor="let ntfc of notifications">
      <ion-label>{{ntfc.text}}</ion-label>
      <button ion-button item-end clear><ion-icon name="close" (click)="removeReminder(ntfc.text)"></ion-icon></button>
    </ion-item>
    <button ion-button clear item-end (click)="addReminder()">Add</button>
  </ion-item-group>

  <ion-item>
    <ion-label stacked>Description</ion-label>
    <ion-input type="text" placeholder="Says somemore about your event..." [(ngModel)]="newEvent.description"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <button class="addButton" ion-footer ion-button strong full icon-left (click)="saveEvent()">
    <ion-icon name="checkmark"></ion-icon> Add Event
  </button>
</ion-footer>
