page-shared-event-list {
  ion-header {
    .toolbar-background {
      // background: linear-gradient(to top right, #cc0099 0%, #ff6600 100%);
      background: #ff6600;
      color: white;
    }
    .toolbar-title {
      color: white;
    }
    .bar-button {
      color: white;
    }
  }

  ion-fab-list button[ion-fab] {
          text-align: center;
          overflow: visible;

          div.label {
            position: absolute;
            right: 48px;
            background: rgba(248, 248, 248, 1);
            height: 24px;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 8px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
          }
  }

  .fab-add-btn {
    background: linear-gradient(to top right, #cc0099 0%, #ff6600 100%);
  }

  .button-inner {
      overflow: visible;
  }

  .fab {
    contain: initial;
  }

  ion-content {
    background-color: #f2f2f2;
  }

  .event-card-img {
    margin-top: 10px;
  }

  .no-network-msg {
    text-align: center;
  }
}
