<!--
  Generated template for the SharedEventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="calm" transparent>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="header-title">Event Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content">
  <!-- <span *ngIf="!currentEvent?.allDay">
    <span class="event-start-date">{{currentEvent?.startTime|date: 'fullDate'}}</span><br>
    <span class="event-start-time">{{currentEvent?.startTime|date: 'shortTime'}}</span><br>
    <br><ion-icon name="arrow-down"></ion-icon><br><br>
    <span class="event-end-date">{{currentEvent?.endTime|date: 'fullDate'}}</span><br>
    <span class="event-end-time">{{currentEvent?.endTime|date: 'shortTime'}}</span><br>
  </span>
  <span *ngIf="currentEvent?.allDay">
    <span class="event-start-date">{{currentEvent?.startTime|date: 'fullDate'}}</span><br>
    <br><ion-icon name="arrow-down"></ion-icon><br><br>
    <span class="event-end-date">{{currentEvent?.endTime|date: 'fullDate'}}</span><br><br>
    <span class="event-all-day">All Day Event</span>
  </span>
  <br><br>
  <span class="event-title">{{currentEvent?.title}}</span>
  <br><br>
  <ion-icon ios="md-clipboard" md="md-clipboard"></ion-icon><br>
  <span class="event-desc"><p>{{currentEvent?.description}}</p></span>
  <span *ngFor="let att of currentEvent?.attendee">
    <p>{{att}}</p>
  </span> -->
  <ion-card>
    <ion-item class="div-title" no-lines [style.background]="currentEvent?.colour">
      <ion-label item-start class="label-title">{{currentEvent?.title}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card [style.border-left]="'5px solid'" [style.border-right]="'5px solid'" [style.border-bottom]="'5px solid'" [style.border-color]="currentEvent?.colour">

    <ion-item class="div-startTime" no-lines>
      <ion-icon ios="md-calendar" md="md-calendar" item-start class="div-date-icon"></ion-icon>
      <ion-label item-end>
        <p class="label-startTime">{{currentEvent?.startTime|date: 'fullDate'}} {{currentEvent?.startTime|date: 'shortTime'}}</p>
        <ion-icon ios="md-arrow-down" md="md-arrow-down"></ion-icon>
        <p class="label-endTime">{{currentEvent?.endTime|date: 'fullDate'}} {{currentEvent?.endTime|date: 'shortTime'}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-footer>
    <button ion-button *ngIf="!isOwner" class="leave-btn" (click)="leave()" strong full outline>LEAVE</button>
    <button ion-button *ngIf="isOwner" class="edit-btn" (click)="editEvent()" strong full outline>EDIT</button>
    <button ion-button *ngIf="isOwner" class="delete-btn" (click)="deleteEvent()" strong full color="danger">DELETE</button>
  </ion-footer>
</ion-content>
