page-shared-event-detail {

  ion-header {
    .toolbar-background {
      background: #00b8e6;
      color: white;
    }
    .toolbar-title {
      color: white;
    }
    .bar-button {
      color: white;
    }
  }

  .content {
    background-color: #cccccc;
  }

  ion-card {
    background-color: #fff;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    position: relative;
    top: -10px;
  }

  .image {
    text-align: center;
  }

  .div-date {
    .label-startTime {
      font-size: 1.0em;
      color: #666666;
    }
    .label-endTime {
      font-size: 1.0em;
      color: #666666;
    }
    .div-arrow-icon {
      text-align: center;
    }
    .arrow-icon {
      color: #666666;
    }
  }

  .all-day-label {
    font-size: 1.0em;
  }

  .div-title {
    .label-title {
      font-size: 2.0em;
    }
  }

  .leave-btn {
    height: 50px;

  }

  .edit-btn {
    height: 50px;
    background: #ffffff;
  }

  .delete-btn {
    height: 50px;
    background: linear-gradient(to right, #ff6600 0%, #cc3399 100%);
  }
}
