<!--
  Generated template for the SharedEventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="content" fullscreen>
  <ion-header no-border>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <div class="image" *ngIf="currentEvent?.picture">
    <img style="width: 100%;" [src]="currentEvent.picture">
  </div>

    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="{{eventOwner.profilePic}}">
      </ion-avatar>
      <h2>{{eventOwner.name}}</h2>
    </ion-item>

    <ion-item class="div-title" no-lines>
      <h1 class="label-title">{{currentEvent?.title}}</h1>
    </ion-item>

    <ion-item no-lines *ngIf="currentEvent?.allDay">
      <ion-label class="all-day-label">All day event</ion-label>
    </ion-item>

    <!-- <ion-item class="div-date" no-lines>
      <ion-row *ngIf="currentEvent?.allDay">
        <ion-col><p class="all-day-label">All day event</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span *ngIf="!currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.startTime|date: 'EEE, MMMM d, y'}}</p>
            <p class="label-startTime">{{currentEvent?.startTime|date: 'shortTime'}}</p>
          </span>
          <span *ngIf="currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.startTime|date: 'EEE, MMMM d, y'}}</p>
          </span>
        </ion-col>
        <ion-col>
          <div class="div-arrow-icon">
            <ion-icon ios="md-arrow-forward" md="md-arrow-forward" class="arrow-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <span *ngIf="!currentEvent?.allDay">
            <p class="label-endTime">{{currentEvent?.endTime|date: 'EEE, MMMM d, y'}}</p>
            <p class="label-endTime">{{currentEvent?.endTime|date: 'shortTime'}}</p>
          </span>
          <span *ngIf="currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.endTime|date: 'EEE, MMMM d, y'}}</p>
          </span>
        </ion-col>
      </ion-row>
    </ion-item> -->
    <ion-item no-lines *ngIf="!currentEvent?.allDay">
      <ion-icon class="event-icon" ios="ios-time-outline" md="ios-time-outline" item-start></ion-icon>
      <ion-label>{{currentEvent?.startTime|date: 'fullDate'}}</ion-label>
      <ion-label item-end>{{currentEvent?.startTime|date: 'shortTime'}}</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="!currentEvent?.allDay">
      <ion-icon class="arrow-icon" item-start ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
    </ion-item>
    <ion-item no-lines *ngIf="!currentEvent?.allDay">
      <ion-icon class="event-icon" ios="ios-time" md="ios-time" item-start></ion-icon>
      <ion-label>{{currentEvent?.endTime|date: 'fullDate'}}</ion-label>
      <ion-label item-end>{{currentEvent?.endTime|date: 'shortTime'}}</ion-label>
    </ion-item>

    <ion-item no-lines *ngIf="currentEvent?.allDay">
      <ion-icon class="event-icon" ios="ios-calendar-outline" md="ios-calendar-outline" item-start></ion-icon>
      <ion-label>{{currentEvent?.startTime|date: 'fullDate'}}</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="currentEvent?.allDay">
      <ion-icon class="arrow-icon" item-start ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
    </ion-item>
    <ion-item no-lines *ngIf="currentEvent?.allDay">
      <ion-icon class="event-icon" ios="ios-calendar" md="ios-calendar" item-start></ion-icon>
      <ion-label>{{currentEvent?.endTime|date: 'fullDate'}}</ion-label>
    </ion-item>

    <!-- <div class="image" *ngIf="currentEvent?.picture">
      <img style="width: 100%;" src="{{currentEvent.picture}}">
    </div> -->
    <div class="event-desc-div">
      <p class="event-desc">{{currentEvent?.description}}</p>
    </div>

    <!-- <ion-item>
      <ion-row>
        <ion-col>With:</ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let attendee of attendees">
          <span class="attendees-prof-pic">
            <img class="profile-avatar" [src]="attendee.profilePic">
          </span>{{attendee.name}}
        </ion-col>
      </ion-row>
    </ion-item> -->
    <ion-item-group padding>
      <ion-item no-lines class="with-label">With:</ion-item>
      <ion-item *ngFor="let attendee of attendees">
        <ion-avatar item-start>
          <img class="profile-avatar" [src]="attendee.profilePic">
        </ion-avatar>
        <ion-label item-end>{{attendee.name}}</ion-label>
      </ion-item>
    </ion-item-group>
</ion-content>
<ion-footer>
    <button ion-button *ngIf="!isOwner && !isAddedToCal" class="add-to-cal-btn" (click)="addToCalendar()" strong full>Add to calendar</button>
    <button ion-button *ngIf="!isOwner" class="leave-btn" (click)="leave()" strong full outline>LEAVE</button>
    <button ion-button *ngIf="isOwner" class="edit-btn" (click)="editEvent()" strong full outline>EDIT</button>
    <button ion-button *ngIf="isOwner" class="delete-btn" (click)="deleteEvent()" strong full>DELETE</button>
</ion-footer>
