<!--
  Generated template for the SharedEventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="header-title">Event Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content" fullscreen>
  <!-- <span *ngIf="!currentEvent?.allDay">
    <span class="event-start-date">{{currentEvent?.startTime|date: 'fullDate'}}</span><br>
    <span class="event-start-time">{{currentEvent?.startTime|date: 'shortTime'}}</span><br>
    <br><ion-icon name="arrow-down"></ion-icon><br><br>
    <span class="event-end-date">{{currentEvent?.endTime|date: 'fullDate'}}</span><br>
    <span class="event-end-time">{{currentEvent?.endTime|date: 'shortTime'}}</span><br>
  </span>
  <span *ngIf="currentEvent?.allDay">
    <span class="event-start-date">{{currentEvent?.startTime|date: 'fullDate'}}</span><br>
    <br><ion-icon name="arrow-down"></ion-icon><br><br>
    <span class="event-end-date">{{currentEvent?.endTime|date: 'fullDate'}}</span><br><br>
    <span class="event-all-day">All Day Event</span>
  </span>
  <br><br>
  <span class="event-title">{{currentEvent?.title}}</span>
  <br><br>
  <ion-icon ios="md-clipboard" md="md-clipboard"></ion-icon><br>
  <span class="event-desc"><p>{{currentEvent?.description}}</p></span>
  <span *ngFor="let att of currentEvent?.attendee">
    <p>{{att}}</p>
  </span> -->
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{eventOwner.profilePic}}">
      </ion-avatar>
      <h2>{{eventOwner.name}}</h2>
    </ion-item>

    <ion-item class="div-title" no-lines>
      <h1 class="label-title">{{currentEvent?.title}}</h1>
    </ion-item>

    <ion-item class="div-date" no-lines>
      <ion-row *ngIf="currentEvent?.allDay">
        <ion-col><p class="all-day-label">All day event</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span *ngIf="!currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.startTime|date: 'EEE, MMMM d, y'}}</p>
            <p class="label-startTime">{{currentEvent?.startTime|date: 'shortTime'}}</p>
          </span>
          <span *ngIf="currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.startTime|date: 'EEE, MMMM d, y'}}</p>
          </span>
        </ion-col>
        <ion-col>
          <div class="div-arrow-icon">
            <ion-icon ios="md-arrow-forward" md="md-arrow-forward" class="arrow-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <span *ngIf="!currentEvent?.allDay">
            <p class="label-endTime">{{currentEvent?.endTime|date: 'EEE, MMMM d, y'}}</p>
            <p class="label-endTime">{{currentEvent?.endTime|date: 'shortTime'}}</p>
          </span>
          <span *ngIf="currentEvent?.allDay">
            <p class="label-startTime">{{currentEvent?.endTime|date: 'EEE, MMMM d, y'}}</p>
          </span>
        </ion-col>
      </ion-row>
    </ion-item>

    <div class="image" *ngIf="currentEvent?.picture">
      <img style="width: 100%;" src="{{currentEvent.picture}}">
    </div>

    <ion-card-content>
      {{currentEvent?.description}}
    </ion-card-content>

    <ion-item>
      <ion-label item-start>with:</ion-label>
      <p *ngFor="let attendee of attendees" item-end>{{attendee.name}}</p>
    </ion-item>

  </ion-card>
</ion-content>
<ion-footer>
    <button ion-button *ngIf="!isOwner" class="add-to-cal-btn" (click)="addToCalendar()" strong full>Add to calendar</button>
    <button ion-button *ngIf="!isOwner" class="leave-btn" (click)="leave()" strong full outline>LEAVE</button>
    <button ion-button *ngIf="isOwner" class="edit-btn" (click)="editEvent()" strong full outline>EDIT</button>
    <button ion-button *ngIf="isOwner" class="delete-btn" (click)="deleteEvent()" strong full>DELETE</button>
</ion-footer>
