<!--
  Generated template for the PersonalEventListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="themeColor5">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="event-list-content">
  <!-- <ion-list>
    <ion-item *ngFor="let event of events | async" (click)="goToEventDetail(event.id)">
      <h2><strong>{{event?.title}}</strong></h2>
      <p>{{event?.startTime}} - {{event?.endTime}}</p>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-card *ngFor="let event of events" [ngStyle]="setStyle(event.colour)">
      <ion-item-sliding >
        <ion-item (click)="goToEventDetail(event.id)" *ngIf="event?.colour != '#cc0099'">
          <h2 class="event-list-title">{{event?.title}}</h2>
          <p class="event-allDay-label" *ngIf="event.allDay">All day event</p>
            <ion-row *ngIf="!event.allDay">
              <ion-col class="event-date-col">
                <p class="event-date-font">{{event?.startTime|date: 'EEE, M/d/yy'}}</p>
                <p class="event-date-font">{{event?.startTime|date: 'shortTime'}}</p>
              </ion-col>
              <ion-col class="icon-col">
                <ion-icon class="event-arrow-icon" ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
              </ion-col>
              <ion-col class="event-date-col">
                <p class="event-date-font">{{event?.endTime|date: 'EEE, M/d/yy'}}</p>
                <p class="event-date-font">{{event?.endTime|date: 'shortTime'}}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="event.allDay">
              <ion-col class="event-date-col">
                <p class="event-date-font">{{event?.startTime|date: 'EEE, M/d/yy'}}</p>
              </ion-col>
              <ion-col class="icon-col">
                <ion-icon class="event-arrow-icon" ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
              </ion-col>
              <ion-col class="event-date-col">
                <p class="event-date-font">{{event?.endTime|date: 'EEE, M/d/yy'}}</p>
              </ion-col>
            </ion-row>
        </ion-item>
        <ion-item (click)="goToEventDetail(event.id)" *ngIf="event?.colour == '#cc0099'">
          <h2 class="event-unctg-title">{{event?.title}}</h2>
          <p class="event-uncategorized">** Uncategorized **</p>
          <p class="event-unctg-allDay" *ngIf="event.allDay">All day event</p>
            <ion-row *ngIf="!event.allDay">
              <ion-col class="event-date-col">
                <p class="event-unctg-date">{{event?.startTime|date: 'EEE, M/d/yy'}}</p>
                <p class="event-unctg-date">{{event?.startTime|date: 'shortTime'}}</p>
              </ion-col>
              <ion-col class="icon-col">
                <ion-icon class="event-unctg-arrow" ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
              </ion-col>
              <ion-col class="event-date-col">
                <p class="event-unctg-date">{{event?.endTime|date: 'EEE, M/d/yy'}}</p>
                <p class="event-unctg-date">{{event?.endTime|date: 'shortTime'}}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="event.allDay">
              <ion-col class="event-date-col">
                <p class="event-unctg-date">{{event?.startTime|date: 'EEE, M/d/yy'}}</p>
              </ion-col>
              <ion-col class="icon-col">
                <ion-icon class="event-unctg-arrow" ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
              </ion-col>
              <ion-col class="event-date-col">
                <p class="event-unctg-date">{{event?.endTime|date: 'EEE, M/d/yy'}}</p>
              </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editEvent(event)">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="deleteEvent(event)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <ion-fab bottom right >
    <button ion-fab class="fab-add-btn">
      <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToCreatePersonalEvent()">
        <ion-icon name="md-list"></ion-icon>
        <div class="label">Personal</div>
      </button>
      <button ion-fab (click)="goToCreateSharedEvent()">
        <ion-icon name="contacts"></ion-icon>
        <div class="label">Share</div>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
